/*override*/
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

*:focus, *:focus, *:focus, .btn.focus, .btn:focus {
    outline: none !important;
    box-shadow: none;
}

a:hover, a:focus, a:active{
    color: inherit;
    text-decoration: none;
}

::placeholder {
  opacity: 0.7;
}

.opacity-1{
    opacity: 1;
}
.opacity-0{
    opacity: 0;
}

.btn{
    cursor: pointer;
}

/* messenger =======================================================================================*/

.wrap-messenger{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    bottom: 0; 
    right: 0; 
    z-index: -1;
}

.messenger{
    width: 0;
    height: 0;
}

/* messenger box ======================================================================================*/
.wrap-messenger-box {
    z-index: 99999;
    position: fixed;
    /*height: calc(100% - 20px - 80px - 20px);*/
    min-height: 250px;
    max-height: 704px;
    bottom: calc(20px + 80px);
    width: 376px;
    right: 20px;
    -webkit-box-shadow: 0 5px 40px rgba(0,0,0,.16);
    box-shadow: 0 5px 40px rgba(0,0,0,.16);
    border-radius: 8px;
    overflow: hidden;
    opacity: 1;
}

.messenger-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* messenger box shadow gradient*/

.messenger-shadow {
    z-index: 3;
    position: fixed;
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
    content: "";
    pointer-events: none;
    background: radial-gradient(ellipse at bottom right,rgba(29,39,54,.16) 0,rgba(29,39,54,0) 72%);
}

/* messenger lancher ================================================================================*/

.wrap-messenger-launcher, .messenger-launcher * {
    cursor: pointer;
}
.wrap-messenger-launcher {
    z-index: 99999;
    position: fixed!important;
    bottom: 20px;
    right: 20px;
    width: 60px!important;
    height: 60px!important; 
}

.messenger-launcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #475aa8!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.2em 0.8em;
    transition: box-shadow ease-out 200ms;
}

.messenger-launcher:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0.3em 0.8em;
}


/* icon setting */
.messenger-icon{
    z-index: 2247483998;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: opacity .08s linear,-webkit-transform .16s linear;
    transition: opacity .08s linear,-webkit-transform .16s linear;
    transition: transform .16s linear,
                opacity .08s linear;
    transition: transform .16s linear,
                opacity .08s linear,
                -webkit-transform .16s linear;
    line-height: 0;
}

.messenger-icon.icon-center{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.messenger-icon svg{
    width: 100%;
}

.messenger-launcher svg, .messenger-box-header svg{ fill: #fff; }

.messenger-launcher .messenger-launcher-open svg{
    width: 30px;
}
.messenger-launcher .messenger-launcher-close svg{
    width: 16px;
}

.messenger-box-header .btn-close-messenger svg{
    width: 20px;
}

.messenger-box-header .btn-home-messenger-content svg{
    width: 24px;
}

.messenger-box-header .btn-close-messenger{
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    padding: 15px;
    top: 15px;
    right: 15px;
    left: auto;
    bottom: auto;
    transition: all ease-in 200ms;
}

.messenger-box-header .btn-home-messenger-content {
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    top: 30px;
    left: 10px;
    right: auto;
    bottom: auto;
    transition: all ease-in 200ms;
}


.messenger-box-header .btn-close-messenger:hover,
.messenger-box-header .btn-home-messenger-content:hover{
    background-color: rgba(0,0,0,0.1);
}

#btn-close-messenger{
    visibility: hidden;
}


/* animated messenger lancher icon change*/
#messenger-launcher .messenger-launcher-open, 
#messenger-launcher.active .messenger-launcher-close {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}

#messenger-launcher .messenger-launcher-close {
    opacity: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

#messenger-launcher.active .messenger-launcher-open {
    opacity: 0 !important;
    -webkit-transform: rotate(20deg) scale(0) !important;
    transform: rotate(20deg) scale(0) !important;
}


/*media screen ============================================================================*/
@media only screen and (max-device-width: 667px), screen and (max-width: 450px){
    .wrap-messenger-box {
        right: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100%!important;
        bottom: 0!important;
        border-radius: 0 !important;
    }

    .wrap-messenger-launcher{
        z-index: 98 !important;
    }

    #btn-close-messenger{
        visibility: visible;
    }
}

/* messenger box content ============================================================== */

.messenger-box-header {
    position: relative;
    background: linear-gradient(135deg,rgb(71, 90, 168),rgb(41, 52, 96));
    background-blend-mode: overlay;
    color: #fff;
    -webkit-transition: all .16s ease-out;
    transition: all .16s ease-out;
}

.messenger-box-header-text{
    padding: 30px 40px 60px 30px;

}

/*messenger box body ===============================*/
.messenger-box-body{
    width: 100%;
    padding: 20px;
}

/* link bottom body*/

.messenger-box-link-container{
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    font-size: 12px;
}

.messenger-box-link{
    width: auto;
    background-color: rgba(0,0,0,0);
    padding: 6px 12px;
    border-radius: 16px;
    -webkit-transition: all 100ms;
    transition: all 100ms;
}

.messenger-box-link{
    display: inline-block;
    color: #666;
}

.messenger-box-link:hover{
    background-color: #f5f5f5;
}


.messenger-box-card {
    margin-bottom: 17px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 rgba(71, 90, 168, 0.5);
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 rgba(71, 90, 168, 0.5);
}

.messenger-box-card .card-content {
    padding: 26px 24px 24px;
    line-height: 1.5;
}

.btn-messenger-default {
    background-color: #fff;
    color: rgb(71, 90, 168) !important;
    border: 1px solid rgb(71, 90, 168);
    -webkit-transition: color background-color .3s;
    transition: color background-color .3s;
}

.btn-messenger-default:hover {
    color: rgb(100, 118, 190) !important;
    border: 1px solid rgb(100, 118, 190);
}

.btn-messenger-default:active {
    color: rgb(136, 150, 205) !important;
    border: 1px solid rgb(136, 150, 205);
}

.btn-messenger {
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 40px;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    -webkit-transition: all .12s;
    transition: all .12s;
    padding: 0 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*Mas Agus*/

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* MESSENGERS CARD */

.mssgme-card {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 0.3rem 0.4rem 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /*opacity: 0;*/
    padding: 16px;
    transition-delay: .2s;
}

.mssgme-card-messengers-list {
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02rem;
}

.mssgme-card-messengers-list > li {
    width: 100%;
    height: auto;
    padding: 2px 0;
    border-radius: 8px;
    background-color: #2f3542;
    margin: 0 0 0.8rem 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            transition: all 175ms ease-in;
}

.mssgme-card-messengers-list > li:only-of-type {
    margin: 0;
}

.mssgme-card-messengers-list > li.instagram {
    background-color: #cd486b;
}

.mssgme-card-messengers-list > li.messenger {
    background-color: #0284ff;
}

/*.mssgme-card-messengers-list > li.messenger > a > span::before {
    content: 'Messenger';
}*/

.mssgme-card-messengers-list > li.whatsapp {
    background-color: #24d366;
}

/*.mssgme-card-messengers-list > li.whatsapp > a > span::before {
    content: 'WhatsApp';
}*/

.mssgme-card-messengers-list > li.telegram {
    background-color: #1f98d4;
}

/*.mssgme-card-messengers-list > li.telegram > a > span::before {
    content: 'Telegram';
}*/

.mssgme-card-messengers-list > li.vk {
    background-color: #5b88bd;
}

/*.mssgme-card-messengers-list > li.vk > a > span::before {
    content: 'Vkontakte';
}*/

.mssgme-card-messengers-list > li.skype {
    background-color: #00aff0;
}

/*.mssgme-card-messengers-list > li.skype > a > span::before {
    content: 'Skype';
}*/

.mssgme-card-messengers-list > li.viber {
    background-color: #665cac;
}

/*.mssgme-card-messengers-list > li.viber > a > span::before {
    content: 'Viber';
}*/

.mssgme-card-messengers-list > li > a {
    display: block;
    color: #fff;
}

.mssgme-card-messengers-list > li > a > img {
    display: inline-block;
    height: 2.4rem;
    width: auto;
    vertical-align: top;
    margin: 0;
}

.mssgme-card-messengers-list > li > a > span {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 .05rem;
}


/* Two buttons */

.messengers-count-2 > li {
    width: calc(50% - 6px);
    float: left;
    margin: 0;
}

.messengers-count-2 > li:first-of-type {
    margin: 0 9px 0 0;
}

/* Three buttons */

.messengers-count-3 > li {
    width: calc(33.333333% - 6px);
    float: left;
    margin: 0 9px 0 0;
}

.messengers-count-3 > li:last-of-type {
    margin: 0;
}

.messengers-count-3 > li > a > span {
    /*display: none;*/
    display: block;
    font-size: 80%;
    padding: 0 10px 5px 5px;
    overflow-x: hidden;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Four buttons */

.messengers-count-4 > li {
    width: calc(33.333333% - 6px);
    float: left;
    margin: 0 9px 0 0;
}

.messengers-count-4 > li:last-of-type {
    margin: 0;
}

.messengers-count-4 > li > a > span {
    display: none;
}

.messengers-count-4 > li:first-of-type {
    width: 100%;
    margin: 0 0 14px 0;
}

.messengers-count-4 > li:first-of-type > a > span {
    display: inline-block;
}

/* Five buttons */

.messengers-count-5 > li {
    width: calc(33.333333% - 6px);
    float: left;
    margin: 0 9px 0 0;
}

.messengers-count-5 > li:last-of-type {
    margin: 0;
}

.messengers-count-5 > li > a > span {
    display: none;
}

.messengers-count-5 > li:nth-of-type(1),
.messengers-count-5 > li:nth-of-type(2) {
    width: calc(50% - 6px);
    float: left;
    margin: 0 14px 14px 0;
}

.messengers-count-5 > li:nth-of-type(1) > a > span,
.messengers-count-5 > li:nth-of-type(2) > a > span {
    display: inline-block;
}

.messengers-count-5 > li:nth-of-type(2) {
    margin: 0 0 14px 0;
}

/* Six buttons */

.messengers-count-6 > li {
    width: calc(33.333333% - 6px);
    float: left;
    margin: 0 9px 0 0;
}

.messengers-count-6 > li:nth-of-type(1),
.messengers-count-6 > li:nth-of-type(2) {
    margin: 0 14px 14px 0;
}

.messengers-count-6 > li:nth-of-type(3) {
    margin: 0 0 14px 0;
}

.messengers-count-6 > li:last-of-type {
    margin: 0;
}

.messengers-count-6 > li > a > span {
    display: none;
}

/* LINKS CARD */

.mssgme-links-card {
    width: calc(100% - .32rem);
    margin: .16rem auto 0 auto;
    padding: .16rem;
    border-radius: .13rem;
    box-shadow: 0 .02rem 0.5rem 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    opacity: 0;
    transition-delay: .3s;
}

.mssgme-links-card-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 .16rem 0;
}

.mssgme-links-card-header > h3 {
    font-weight: 500;
    font-size: .14rem;
    line-height: .16rem;
    margin: 0;
}

.mssgme-links-card-header > span {
    display: block;
    font-size: .14rem;
    line-height: .16rem;
    color: #007aff;
    cursor: pointer;
}

.mssgme-links-list {
    font-weight: 500;
    font-size: .14rem;
    line-height: .18rem;
    text-align: center;
    color: #fff;
    letter-spacing: .002rem;
}

.mssgme-links-list > li {
    display: none;
    background-color: #2f3542;
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.mssgme-links-list > li:nth-of-type(1),
.mssgme-links-list > li:nth-of-type(2),
.mssgme-links-list > li:nth-of-type(3) {
    display: block;
}

.mssgme-links-list.more > li {
    display: block;
}

.mssgme-links-list > li:last-of-type {
    margin: 0;
}

.mssgme-links-list > li > a {
    display: block;
    padding: .11rem .2rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 768px){
    .mssgme-card-messengers-list > li:hover {
    box-shadow: 0 0.3rem 0.05rem 0 rgba(0, 0, 0, 0.08);
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
}